<%= render 'layouts/header' %>

<body>

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <% @categories.each do |t| %>
        <div class="col col-lg-auto">
            <a role="button" href="/categories/<%= t.id %>" class="btn btn-dark bg-black" style="width:250px;height:180px;text-transform: uppercase;">
              <br>
              <img><%= image_tag t.image %></img>
              <br><br>
              <b><%= t.name %></b>
            </a>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
