<%= render 'layouts/header' %>

<body>
  <% if (notice != nil)  %>
    <div class="container">
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    </div>
  <% end %>
  <div class="product">
     <div class="container" style="text-align:center;">
        <h2 style="color:Black;text-transform:uppercase;"><%= @category.name %></h2>
        <br>
        <div class="card-deck">
          <% @products.each do |p| %>
            <div class="card">
              <img class="card-img-top"><%= image_tag p.image %></img> <!-- Mida imatge recomanada: 225x200 -->
              <div class="card-body">
                <h5 class="card-title"><%= p.name %></h5>
                <p class="card-text"><%= p.description %></p>
                <h2><span class="badge badge-secondary" style="background-color:Black;"><%= p.price %> €</span></h2>
                <a href="/addProduct/<%= p.id %>" class="btn btn-outline-dark">Añadir a la cesta</a>
              </div>
            </div>
          <% end %>
        </div>

        </div>
     </div>
  </div>

  <%= render 'layouts/footer' %>
</body>
