<div class="productos">
   <div class="container">
      <div class="cards row">
         <% @products.each do |t| %>
         <div class="card col-xs-4">
            <%= image_tag t.image %>
            <h2><%= t.name %></h2>
            <h2><%= t.description %></h2>
            <h2><%= t.price %></h2>
         </div>
         <% end %>
      </div>
   </div>
</div>


<%= form_tag "products", method: :get do %>
  <%= text_field_tag :search ,nil , placeholder: "introduzca la búsqueda" %>
  <%= content_tag :button ,type: :submit do %>
   Buscar
  <%end%>
  <%end%>


<%= render 'layouts/user_widget' %>

