<%= render 'layouts/header' %>

<body>
  <% if (notice != nil)  %>
    <div class="container">
        <%= notice.html_safe %>
    </div>
  <% end %>

  <div class="container-fluid" style="text-align:center;">
    <div class="card-deck">
      <% @products.each do |t| %>
        <div class="card">
          <img class="card-img-top"><%= image_tag t.image %></img> <!-- Mida imatge recomanada: 225x200 -->
          <div class="card-body">
            <h5 class="card-title"><%= t.name %></h5>
            <p class="card-text"><%= t.description %></p>
            <h2><span class="badge badge-secondary" style="background-color:Black;"><%= t.price %> €</span></h2>
            <a href="/addProduct/<%= t.id %>" class="btn btn-outline-dark">Añadir</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  </body>
