<%= render 'layouts/header' %>

<body>
<!--  <div class="productos">
     <div class="container">
        <div class="cards row">
           <% @products.each do |t| %>
           <div class="card col-xs-4">
              <%= image_tag t.image %>
              <h2><%= t.name %></h2>
              <h2><%= t.description %></h2>
              <h2><%= t.price %></h2>
           </div>
           <% end %>
        </div>
     </div>
  </div> -->

  <div class="container-fluid">
    <div class="card-deck">
      <% @products.each do |t| %>
        <div class="card">
          <img class="card-img-top"><%= image_tag t.image %></img> <!-- Mida imatge recomanada: 225x200 -->
          <div class="card-body">
            <h5 class="card-title"><%= t.name %></h5>
            <p class="card-text"><%= t.description %></p>
            <p class="card-text btn btn-dark"><%= t.price %> €</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <%= form_tag "products", method: :get do %>
    <%= text_field_tag :search ,nil , placeholder: "introduzca la búsqueda" %>
    <%= content_tag :button ,type: :submit do %>
     Buscar
    <%end%>
    <%end%>


  <%= render 'layouts/user_widget' %>

  <%= render 'layouts/footer' %>

  </body>
